<link rel="stylesheet" href="/../stylesheets/dashboard.css">
<section class="search">
    <br>
    {{>success-handler}}
    {{>search-person}}
    <br>
    <div>
        <h1 class="text-center">Flagged candidates</h1>
         <div class="card-holder-people">
                {{#if hasitems}}
                {{#each items}}
                <div class="eachcard">
                {{!-- <div class="text-gray-600 my-3 text-center"><i class="fas fa-ellipsis-v"></i></div> --}}
                    {{!-- <div class="text-xs uppercase text-gray-400 tracking-wider text-center leading-none">EST Time to Airport: <span class="font-bold text-sm">32 min</span></div> --}}
                    {{!-- <div class="text-gray-600 my-3 text-center"><i class="fas fa-ellipsis-v"></i></div> --}}
                    
                    <div class="bg-white shadow-xl rounded-lg overflow-hidden noclue">
                        <div class="bg-cover bg-center h-16 p-4 flex justify-end items-center" style="background-image: url('https://s3.ap-south-1.amazonaws.com/townscript-production/gallery-images/410139/8025e995-84dc-41d2-9f69-6cbbfe79a533.jpg')">
                            {{!-- <p class="uppercase tracking-widest text-sm text-white bg-black py-1 px-2 rounded opacity-75 shadow-lg">DFW <span class="tracking-normal">--></span> SEA</p> --}}
                        </div>
                        <div class="px-4 pb-3 pt-4 border-b border-gray-300 bg-gray-100 flex justify-between">
                            <div class="text-s uppercase font-bold text-gray-600 tracking-wide">BiB No: {{this.BiB_no}}</div>
                            <div class="text-s uppercase font-bold text-gray-600 tracking-wide">Registration ID: {{this.Registration_Id}}</div>
                        </div>
                        <div class="p-4 text-gray-700 flex justify-between items-start">
                            <div>
                                <p class="text-3xl text-gray-900 leading-none my-1">Name: <br>{{this.Attendee_Name}}</p>
                                <br>
                                <p class="text-lg w-56">Registration/Employee Number: {{this.Employee_Number}}</p>
                                <p class="text-lg w-56">Ticket: {{this.Ticket_Name}}</p>
                                
                                
                            </div>
                            {{#ifCond this.approved true}}
                                <div class="leading-loose bg-green-500 text-white p-1 px-2 rounded-lg uppercase text-s tracking-wider">APPROVED</div>
                            {{/ifCond}}
                            {{#ifCond this.approved 2}}
                                <div class="leading-loose bg-red-500 text-white p-1 px-2 rounded-lg uppercase text-s tracking-wider">DISQUALIFIED</div>
                            {{/ifCond}}
                            {{#ifCond this.approved 3}}
                                <div class="leading-loose bg-yellow-500 text-white p-1 px-2 rounded-lg uppercase text-s tracking-wider">FLAGGED</div>
                            {{/ifCond}}
                            {{#ifCond this.approved false}}
                                <div class="leading-loose bg-blue-500 text-white p-1 px-2 rounded-lg uppercase text-s tracking-wider">PENDING</div>
                            {{/ifCond}}
                        </div>
                        <div class="flex justify-between items-center p-4 border-t border-gray-300 text-gray-600">
                            {{!-- <div class="flex items-center">
                                <p><span class="text-sm pr-1">Terminal</span> <span class="text-gray-900 font-bold">C</span></p>
                            </div>
                            <div class="flex items-center">
                                <p><span class="text-sm pr-1">Gate</span> <span class="text-gray-900 font-bold">C24</span></p>
                            </div>
                            <div class="flex items-center">
                                <p><span class="text-sm pr-1">Seats</span> <span class="text-gray-900 font-bold">12D, 12E</span></p>
                            </div> --}}
                            <a class="btn btn btn-indigo btn-sm m-0" href="/admin/dashboard/{{this.Registration_Id}}">View</a>
                        </div>
                        
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
    </div>
</section>
