<link rel="stylesheet" href="/../stylesheets/profile.css">
<script src="/../javascripts/profile.js"></script>
{{!-- <section class="profile">
    <div class="profile-wrapper">

  
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img src="http://www.pngall.com/wp-content/uploads/2/Runner-PNG-Free-Download.png" alt="profile card">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      {{#ifCond profile.approved 2}}
      <div class="dis">
        <div class="text">
          DISQUALIFIED
        </div>
      </div>
      {{/ifCond}}
      {{#if isMember}}
        {{#if profile.paymentStatus}}
          <center>
            <div class="paymentstatus completed">
              <p>Payment Completed <a href="http://localhost:3000/paytmCallback?oid={{profile.Order_Id}}" target="_blank">View Reciept</a></p>
            </div>
          </center>
        {{else}}
          <center>
            <div class="paymentstatus incomplete">
              <p>Payment Pending please <a href="http://localhost:4001/admin/retrypayment?oid={{profile.Order_Id}}" target="_blank">Complete Payment</a><br>
              If this is an error please call us on the contact Number <br>
              You can also pay offline, please contact the number for more information
              </p>
            </div>
          </center>
        {{/if}}
      {{else}}
        {{#if profile.paymentStatus}}
          <center>
            <div class="paymentstatus completed">
              <p>Payment Completed</p>
            </div>
          </center>
        {{else}}
          <center>
            <div class="paymentstatus incomplete">
              <p>Payment Pending</p>
            </div>
          </center>
        {{/if}}
      {{/if}}
      <div class="profile-card__name">{{profile.Attendee_Name}}</div>
      <div class="profile-card__txt">Bib No: <strong>{{profile.BiB_no}}</strong></div>
      <div class="profile-card__txt">Race Type: <strong>{{profile.Ticket_Name}}</strong></div>
      <div class="profile-card__txt">Registration Id: <strong>{{profile.Registration_Id}}</strong></div>
      <div class="profile-card__txt">Registration Number/ Employee ID: <strong>{{profile.Employee_Number}}</strong></div>
      <hr>
      <div class="profile-card__txt">Institution: <strong>{{profile.Institution_Name}}</strong></div>
      <div class="profile-card-loc">
        <span class="profile-card-loc__txt">
          Email: {{profile.Attendee_Email}} | Contact Number: {{profile.Contact_Number}}
        </span>
      </div>

      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{profile.Gender}}</div>
          <div class="profile-card-inf__txt">Gender</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{profile.Age}}</div>
          <div class="profile-card-inf__txt">Age</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{profile.Order_Id}}</div>
          <div class="profile-card-inf__txt">Order Id</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{profile.T_Shirt_Size}}</div>
          <div class="profile-card-inf__txt">T-shirt Size</div>
        </div>
      </div>
        <hr>
        {{#if url}}
        <center><img src="{{url}}"></center>
        {{/if}}
        <div class="profile-card-social">
        <a href="https://www.facebook.com/iaMuhammedErdem" class="profile-card-social__item facebook" target="_blank">
          <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
          </span>
        </a>

        <a href="https://twitter.com/iaMuhammedErdem" class="profile-card-social__item twitter" target="_blank">
          <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
          </span>
        </a>

        <a href="https://www.instagram.com/iamuhammederdem" class="profile-card-social__item instagram" target="_blank">
          <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
          </span>
        </a>

        <a href="https://www.behance.net/iaMuhammedErdem" class="profile-card-social__item behance" target="_blank">
          <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-behance"></use></svg>
          </span>
        </a>

        <a href="https://github.com/muhammederdem" class="profile-card-social__item github" target="_blank">
          <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-github"></use></svg>
          </span>
        </a>

        <a href="https://codepen.io/JavaScriptJunkie" class="profile-card-social__item codepen" target="_blank">
          <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-codepen"></use></svg>
          </span>
        </a>

        <a href="http://muhammederdem.com.tr/" class="profile-card-social__item link" target="_blank">
          <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-link"></use></svg>
          </span>
        </a>

      </div>
      {{#if isMember}}
      {{else}}
      <div class="profile-card-ctr">
        {{#if profile.approved}}
        <form class="form-group" action="/admin/dashboard/dis" method="POST">
            <input type="hidden" name="reg_id" value="{{profile.Registration_Id}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="profile-card__button button--blue js-message-btn">Unmark</button>
        </form>
        {{else}}
        <form class="form-group" action="/admin/dashboard" method="POST">
            <input type="hidden" name="reg_id" value="{{profile.Registration_Id}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="profile-card__button button--blue js-message-btn">Approve</button>
        </form>
        {{/if}}
        {{#ifCond profile.approved false}}
        <button id="dis-overlay-button" class="profile-card__button button--orange">Disqualify</button>
        <button id="dis-overlay-button-flag" class="profile-card__button button--orange">Flag</button>
        {{/ifCond}}
        <button onclick="window.history.back();" class="profile-card__button button--orange">Go Back</button>
      </div>
    </div> 
    {{/if}}<div class="profile-card-message js-message">
      <form class="profile-card-form">
        <div class="profile-card-form__container">
          <textarea placeholder="Say something..."></textarea>
        </div>

        <div class="profile-card-form__bottom">
          <button class="profile-card__button button--blue js-message-close">
            Send
          </button>

          <button class="profile-card__button button--gray js-message-close">
            Cancel
          </button>
        </div>
      </form>

      <div class="profile-card__overlay js-message-close"></div>
    </div>
    <div class="profile-card__name">Emergency Contact: {{profile.Emergency_Contact_Name}}</div>
        <div class="profile-card__txt">Contact Number: <strong>{{profile.Emergency_Contact_Number}}</strong></div>

  </div>
  <div class="overlay" id="disqual-overlay">
    <form class="form-group" action="/admin/dashboard/disqualify" method="POST">
        <label for="reas-disqual">Please Enter Reason for disqualification</label>
        <textarea id="reas-disqual" class="form-control" type="text" name="reas_disqual" placeholder="Please Enter Reason for disqualification"></textarea>
        <input type="hidden" name="reg_id" value="{{profile.Registration_Id}}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="profile-card__button button--orange">Disqualify</button>
    </form>
  </div>
  <div class="overlay" id="disqual-overlay-flag">
    <form class="form-group" action="/admin/dashboard/flag" method="POST">
        <label for="reas-disqual">Please Enter Reason for Flagging</label>
        <textarea id="reas-disqual" class="form-control" type="text" name="reas_disqual" placeholder="Please Enter Reason for disqualification"></textarea>
        <input type="hidden" name="reg_id" value="{{profile.Registration_Id}}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="profile-card__button button--orange">Flag</button>
    </form>
  </div>

</section> --}}

<section class="newprofile">
  <div class="leftsection">
    <div class="topnavprofile">

    </div>
    <div class="title">
      <h1 class="name">{{profile.Attendee_Name}}</h1>
    </div>
    <hr>
    {{#if url}}
      <center><img src="{{url}}"></center>
    {{/if}}
    {{#if isMember}}
    {{else}}
    <div class="actionbuttons">
      {{#if profile.approved}}
        <form class="form-group" action="/admin/dashboard/dis" method="POST">
            <input type="hidden" name="reg_id" value="{{profile.Registration_Id}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="actionapproval">Unmark</button>
        </form>
      {{else}}
        <form class="form-group" action="/admin/dashboard" method="POST">
            <input type="hidden" name="reg_id" value="{{profile.Registration_Id}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="actionapproval">Approve</button>
        </form>
      {{/if}}
      {{#ifCond profile.approved false}}
        <button id="dis-overlay-button" class="actionapproval">Disqualify</button>
        <button id="dis-overlay-button-flag" class="actionapproval">Flag</button>
      {{/ifCond}}
        <button onclick="window.history.back();" class="actionapproval">Back</button>
    </div>
    {{/if}}
      
    <div class="overlay" id="disqual-overlay">
      <form class="form-group" action="/admin/dashboard/disqualify" method="POST">
          <label for="reas-disqual">Please Enter Reason for disqualification</label>
          <textarea id="reas-disqual" class="form-control" type="text" name="reas_disqual" placeholder="Please Enter Reason for disqualification"></textarea>
          <input type="hidden" name="reg_id" value="{{profile.Registration_Id}}">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <button class="profile-card__button button--orange">Disqualify</button>
      </form>
    </div>
    <div class="overlay" id="disqual-overlay-flag">
      <form class="form-group" action="/admin/dashboard/flag" method="POST">
          <label for="reas-disqual">Please Enter Reason for Flagging</label>
          <textarea id="reas-disqual" class="form-control" type="text" name="reas_disqual" placeholder="Please Enter Reason for disqualification"></textarea>
          <input type="hidden" name="reg_id" value="{{profile.Registration_Id}}">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <button class="profile-card__button button--orange">Flag</button>
      </form>
    </div>
    <div class="leftfooter">
      Contact Us:
      <div class="contactinfo">
        Marathon Administrator 1: Likhith (+91-1234567890)
        <br>
        Marathon Administrator 2: Likhith (+91-1234567890)
      </div>
    </div>
  </div>
  <div class="rightsection">
    <div class="paymentStatusDiv">
      {{#if isMember}}
        {{#if profile.paymentStatus}}
          <div class="paymentInfo">
            <h4>Your Payment Has been Completed</h4>
            <p>Please follow this <a href="http://localhost:3000/paytmCallback?oid={{profile.Order_Id}}" target="_blank">link</a> to review your reciept</p>
          </div>
          <div class="statusdiv">
            <span>Payment Completed</span>
          </div>
        {{else}}
          <div class="paymentInfo">
            <h4>Your Payment is Pending</h4>
            <p>Please follow this <a href="http://localhost:4001/admin/retrypayment?oid={{profile.Order_Id}}" target="_blank">link</a> to complete payment</p>
            <p>If this is an error please call us on the contact Number<br>You can also pay offline, please contact the number for more information</p>
          </div>
          <div class="statusdiv">
            <span>Payment Pending</span>
          </div>
        {{/if}}
      {{else}}
        {{#if profile.paymentStatus}}
          <div class="paymentInfo">
            <h4>Payment Has been Completed</h4>
            {{!-- <p>Please follow this <a href="http://localhost:3000/paytmCallback?oid={{profile.Order_Id}}" target="_blank">link</a>a to review your reciept</p> --}}
          </div>
          <div class="statusdiv">
            <span>Payment Completed</span>
          </div>
        {{else}}
          <div class="paymentInfo">
            <h4>Payment Pending</h4>
            {{!-- <p>Please follow this <a href="http://localhost:4001/admin/retrypayment?oid={{profile.Order_Id}}" target="_blank">link</a>a to complete payment</p>
            <p>If this is an error please call us on the contact Number<br>You can also pay offline, please contact the number for more information</p> --}}
          </div>
          <div class="statusdiv">
            <span>Payment Pending</span>
          </div>
        {{/if}}
      {{/if}}
    </div>
    <div class="cardcontainers">
      <div class="firstcard cardsprofiler">
        <h3>Registration Info</h3>
        <div class="reginfo">
          <p>Registration Id: {{profile.Registration_Id}}</p>
          <p>BiB No: {{profile.BiB_no}}</p>
          <p>Order Id: {{profile.Order_Id}}</p>
          <p>Ticket Name: {{profile.Ticket_Name}}</p>
          <p>T-shirt Size: {{profile.T_Shirt_Size}}</p>
        </div>
      </div>
      <div class="secondcard cardsprofiler">
        <h3>Participant Info</h3>
        <div class="reginfo">
          <p>Employee/Registration Number: {{#if profile.Employee_Number}}{{profile.Employee_Number}}{{else}}Not a MAHE Student{{/if}}</p>
          <p>Institution Name: {{profile.Institution_Name}}</p>
          <p>Email: {{profile.Attendee_Email}}</p>
          <p>Contact Number: {{profile.Contact_Number}}</p>
          <p>Gender: {{profile.Gender}}</p>
          <p>Age: {{profile.Age}}</p>
        </div>
      </div>
    </div>
    <div class="rightfooter">
      <h1>Emergency Contact Details</h1>
      <div><h3>Emergency Contact: {{profile.Emergency_Contact_Name}}</h3></div>
      <div><h3>Contact Number: <strong>{{profile.Emergency_Contact_Number}}</h3></strong></div>
    </div>
  </div>
</section>


