{{#if errors}}
<div class="alert alert-danger">
	<p>{{errors}}</p>
</div>
{{/if}}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/../stylesheets/util_login.css">
	<link rel="stylesheet" type="text/css" href="/../stylesheets/main_login.css">
<!--===============================================================================================-->
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/admin/rpwd" method="POST">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Reset Password
					</span>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="New Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="cnfpass" placeholder="Confirm Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input type="hidden" name="userId" value="{{userId}}">
                    <input type="hidden" name="token" value="{{passwordToken}}">

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Reset Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/../vendor/bootstrap/js/popper.js"></script>
	<script src="/../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/../vendor/daterangepicker/moment.min.js"></script>
	<script src="/../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/../javascripts/main_login.js"></script>

