<link rel="stylesheet" href="/../stylesheets/profile.css">
<script src="/../javascripts/profile.js"></script>
<script src="/../javascripts/scanner.js"></script>
<style>
	#preview{
   width:400px;
   height: 450px;
   margin:0px auto;
   border: solid black;
   border-radius: 20px;
   background: rgba(0, 0, 0, 0.582);
}
.video-card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
</style>
<section class="profile">
<div class="profile-wrapper">
  <div class="video-card profile-card js-profile-card">
	  <button>Start Scanner</button>
      <video id="preview"></video>
	  <button id="stopscanner">Stop Scanner</button>
      <script type="text/javascript">
				let scanner = new Instascan.Scanner({
					continuous: true,
					video: document.getElementById('preview'),
					mirror: false,
					backgroundScan: false,
					captureImage: false,
					refactoryPeriod: 1000*60*5,
					scanPeriod: 1
				});

				scanner.addListener('scan', content => {
					scanner.stop();
					$('#preview').hide();
					$('#message-wrapper').addClass('show-content');
					window.location.href = content;
				});

				const startCamera = () => {
					Instascan.Camera.getCameras()
					.then(cameras => {
						// console.dir(cameras);
						if(cameras.length > 0) scanner.start(cameras[cameras.length - 1]);
						else showSnackbar(false, 'No cameras found');
					})
					.catch(e => console.error(e));
				}

				const continueScan = () => {
					$('#preview').show();
					$('#message-wrapper').removeClass('show-content');
					startCamera();
				}

				continueScan();

				$('#stopscanner').click(function(){
					scanner.stop();
				})
			</script>
  </div>
</div>
</section>
