<link rel="stylesheet" href="../stylesheets/dashboard.css">
<section class="search">
    <br>
    {{>search-person}}
    <br>
    <div>
        <table class="table table-striped table-responsive-md btn-table">
            <thead>
                <tr>
                    <th>BiB No</th>
                    <th>Registration_Id</th>
                    <th>Attendee_Name</th>
                    <th>Registration/Employee Number</th>
                    <th>Ticket Name</th>
                    <th>View</th>
                    <th>Approve/Reject</th>
                </tr>
            </thead>
            {{#if hasitems}}
                <tbody>
                    {{#each items}}
                        <tr class="{{#ifCond this.approved 1}}approved{{/ifCond}}{{#ifCond this.approved 2}}disqual{{/ifCond}}{{#ifCond this.approved 3}}flagged{{/ifCond}}">
                            <td>{{this.BiB_no}}</td>
                            <td>{{this.Registration_Id}}</td>
                            <td>{{this.Attendee_Name}}</td>
                            <td>{{this.Employee_Number}}</td>
                            <td>{{this.Ticket_Name}}</td>
                            <td>
                                <a class="btn btn-indigo btn-rounded btn-sm m-0" href="/admin/dashboard/{{this.Registration_Id}}">View</a>
                            </td>
                            {{#ifCond this.approved 0}}
                            <td>
                                <form class="form-group" action="/admin/dashboard" method="POST">
                                    <input type="hidden" name="reg_id" value="{{this.Registration_Id}}">
                                    <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                    <button type="submit" class="btn btn-teal btn-rounded btn-sm m-0">Approve</button>
                                </form>
                            </td>
                            {{/ifCond}}
                            {{#ifCond this.approved 1}}
                            <td>
                                <form class="form-group" action="/admin/dashboard/dis" method="POST">
                                    <input type="hidden" name="reg_id" value="{{this.Registration_Id}}">
                                    <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                    <button type="submit" class="btn btn-red btn-rounded btn-sm m-0">Dissaprove</button>
                                </form>
                            </td>
                            {{/ifCond}}
                        </tr>
                    {{/each}}
                </tbody>
            {{/if}}
        </table>
        {{>data-pagination}}
    </div>
</section>