<div class="container pagination-container">
    <nav aria-label="Page example">
        <ul class="pagination">
            {{#times pages}}
            <li class="page-item {{#ifCond @root.currentPage this}}active{{/ifCond}}"><a href="?p={{this}}">{{this}}</a></li>
            {{/times}}
        </ul>
    </nav>
</div>