<footer id="footer">
    <div class="main-footer container">
        {{!-- <div class="top-footer">
            <h3>Get in Touch With Us</h3>
            <div>
              <p><i class="fa fa-envelope" aria-hidden="true"></i><span>manipalmarathon@gmail.com</span></p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i><span>mrc.manipal@gmail.com</span></p>
              <p><i class="fa fa-mobile" aria-hidden="true"></i><span>Navaal Rai- +91 79773 66355</span></p>
              <p><i class="fa fa-mobile" aria-hidden="true"></i><span>Likhith Shivaprasad-  +91 81972 51711</span></p>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="middle-footer">
            <a href="https://www.facebook.com/manipalmarathon" class="social-link">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/manipalmarathon" class="social-link">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
        <br> --}}
        <div class="bottom-footer">
            <p>©2019 Manipal Marathon | Designed & Developed By Abhishek Malakar</p>
        </div>
    </div>
</footer>
