<div class="wrapper">
    <header>
        <nav class="{{#if notMain }}scroller{{else}}main{{/if}}">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="header_logo show">
            </div>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    {{#if isAuthenticated}}
                        {{#if isMember}}
                        <li><a href="/admin/dashboard">Dashboard</a></li>
                        {{else}}
                        <li><a href="/admin/register">Register</a></li>
                        {{!-- <li><a href="/admin/dashboard">Dashboard</a></li> --}}
                        <li class="dropdown"><a href="/admin/dashboard">Dashboard</a>
                        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            <div class="dropdown-content">
                                <a href="/admin/approved">Approved Candidates</a><br>
                                <a href="/admin/flagged">Flagged Candidates</a><br>
                                <a href="/admin/disqualified">Disqualified Candidates</a>
                            </div>
                        </li>
                        <li><a href="/admin/scanner">Scan Participant</a></li>
                        {{!-- <li><a href="/admin/approved">Approved Candidates</a></li>
                        <li><a href="/admin/flagged">Flagged Candidates</a></li>
                        <li><a href="/admin/disqualified">Disqualified Candidates</a></li> --}}
                        
                        {{/if}}
                        <li>
                        <form action="/admin/logout" method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <button>Logout</button>
                        </form>
                        </li>
                    {{else}}
                        <li><a href="/admin/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
</div>