<div class="wrapper">
    <header>
        <nav class="{{#if notMain }}scroller{{else}}main{{/if}}">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="header_logo show">
            </div>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    {{#if isAuthenticated}}
                        <li><a href="/admin/dashboard">Dashboard</a></li>
                        <li>
                        <form action="/admin/logout" method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <button>Logout</button>
                        </form>
                        </li>
                    {{else}}
                        <li><a href="/admin/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
</div>