<div class="container clubs-search-container">
    <form action="/admin/searchq" autocomplete="off">
            <div class="form-group search-elements">
                <input id="search" class="form-control search-name" type="text" placeholder="Search By Name or Registration Number" name="searchq">
                <button class="btn btn-primary search-button" type="submit"><i class="fa fa-search"></i></button>
                </input>
            </div>
    </form>
    <div id="matchList" class="autocomplete-div card">
    </div>
</div>