
<link rel="stylesheet" href="../stylesheets/landing.css">
<section class="landing">
    <div class="content">
        <h2>Manipal Marathon</h2>
        <br>
        <br>
        <h5>Please Login to continue if you are an organiser</h5>
        <hr class="divider-landing">
        <div class="buttons">
            <div class="profile-card-ctr">
                <button onclick="window.location.href = '/admin/login';" class="profile-card__button button--blue js-message-btn">Login</button>
            </div>
        </div>
    </div>
</section>