 /* Search CSS */
  
 .search-name{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border: none;
    border-bottom: white solid 0.5px;
    color:white;
    padding: 13px;
    font-size:13px;
  }


  .pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
.search-name:focus{
  background: rgba(0, 0, 0, 0.7);
  color:white;
}

.disqual{
  background-color: rgba(163, 7, 7, 0.582) !important;
}

.flagged{
  background-color: rgba(160, 163, 7, 0.582) !important;
}

.btn-change{
  border:solid white;
  border-radius: 50%;
}

.table td{
  font-size: 12px !important;
}

.approved{
  background-color: rgba(7, 163, 7, 0.582) !important;
}
  
  .search-button{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    border-top-right-radius: 10px;
    border: none;
    border-bottom: white solid 0.5px;
  }
  
  .search-name::placeholder{
    color:white;
  }
  
  .search-name:-ms-input-placeholder{
    color:white;
  }
  
  .search-name::-ms-input-placeholder{
    color:white;
  }
  
  .search-elements{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    color:white;
    width: 100% !important;
}


.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px;
  flex-wrap: wrap;
}

.pagination-container li{
  margin: 0 !important;
}

.pagination li a{
  color:black !important;
}

.search{
    min-height: 100vh;
    height: 100%;
}

/* Accordian  */

.container h1{
  color: white;
  text-align: center;
  margin: 5px;
  text-transform: uppercase;
}

#under55data{
  display: none;
}

.alldisplay{
  text-decoration: none;
  text-transform: uppercase;
}

.alldisplay:hover{
  text-decoration: none;
}

.alldisplay:hover h3{
  text-decoration: none;
  color: yellow;
}


.card-holder-people{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-holder-people .eachcard{
  margin: 10px;
  max-width: 250px;
  max-height: 300px;
  min-height: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.noclue{
  min-width: 250px;
  min-height: 300px;
  max-height: 300px;
}


