footer {
    background: #111;
    height: fit-content;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    /* position: absolute;
    bottom:0 !important; */
    color: white; 
    margin-top: auto;
  }
    footer .top-footer{
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    footer .top-footer h3{
        padding:30px;
    }
    footer .top-footer div{
      display: flex;
      flex-direction: column;
        line-height: 1px;
    }
      footer .top-footer div p i{
          padding: 5px;
      }
      footer .top-footer .content-top-footer {
        border: solid white;
        padding: 5px;
        display: flex;
        flex-direction: row;
        width: 70%; }
        footer .top-footer .content-top-footer .spacer {
          border: solid white;
          flex-grow: 1; }
        footer .top-footer .content-top-footer ul {
          padding: 0;
          margin: 0;
          font-size: 12px; }
          footer .top-footer .content-top-footer ul li {
            list-style: none;
            padding: 0;
            margin: 0; }
        footer .top-footer .content-top-footer .content-footer-right {
          right: 0; }
          footer .top-footer .content-top-footer .content-footer-right p {
            width: 40%; }
    footer .middle-footer {
      display: flex;
      justify-content: center; }
      footer .middle-footer .social-link {
        padding: 5px; }
        footer .middle-footer .social-link i {
          font-size: 40px;
          margin: 15px;
          color: white; }
        footer .middle-footer .social-link i:hover {
          color: purple; }
    footer .bottom-footer {
      font-size: 12px;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      width: 100%; }
    footer .footer-divider {
      background: transparent;
      border: none;
      border-top: solid 0.5px white;
      border-bottom: solid 0.5px white;
      height: 2px;
      width: 80%; }
  

    @media(max-width:768px){
        footer .top-footer h3{
            font-size: 15px;
            padding:10px;
        }

        footer .top-footer div{
            font-size: 10px;
        }
        
        footer .middle-footer .social-link i{
            font-size: 25px;
        }

        footer .bottom-footer{
          font-size:10px;
        }
    }