.landing {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  color: white;
  background-image:
        linear-gradient(to bottom, rgba(31, 31, 32, 0.337), rgba(117, 19, 93, 0.664)),
        url('../images/landing.jpg');
  background-size: cover;
  background-attachment: fixed; }
  .landing .content {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans'; }
    .landing .content h2 {
      font-size: 80px;
      text-transform: capitalize;
      font-family: 'Montserrat', sans-serif; }
    .landing .content h3 {
      font-size: 40px; }
    .landing .content .divider-landing {
      height: 2px;
      color: white;
      background: none;
      border-top: 0.5px solid #fff;
      border-bottom: 0.5px solid #fff;
      width: 50%; }
    .landing .content .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      align-items: flex-start;
      margin-top: 20px; }
      .landing .content .buttons a {
        text-decoration: none; }
      .landing .content .buttons .navigator {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.507);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #000;
        transition: 0.5s ease; }
        .landing .content .buttons .navigator:hover {
          background: rgba(0, 0, 0, 0.507);
          color: white; }

          .profile-card-ctr {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
          }
          @media screen and (max-width: 576px) {
            .profile-card-ctr {
              flex-wrap: wrap;
            }
          }

          .profile-card__button {
            background: none;
            border: none;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            font-size: 19px;
            margin: 15px 35px;
            padding: 15px 40px;
            min-width: 201px;
            border-radius: 50px;
            min-height: 55px;
            color: #fff;
            cursor: pointer;
            backface-visibility: hidden;
            transition: all .3s;
          }
          @media screen and (max-width: 768px) {
            .profile-card__button {
              min-width: 170px;
              margin: 15px 25px;
            }
          }
          @media screen and (max-width: 576px) {
            .profile-card__button {
              min-width: inherit;
              margin: 0;
              margin-bottom: 16px;
              width: 100%;
              max-width: 300px;
            }
            .profile-card__button:last-child {
              margin-bottom: 0;
            }
          }
          .profile-card__button:focus {
            outline: none !important;
          }
          @media screen and (min-width: 768px) {
            .profile-card__button:hover {
              transform: translateY(-5px);
            }
          }
          .profile-card__button:first-child {
            margin-left: 0;
          }
          .profile-card__button:last-child {
            margin-right: 0;
          }
          .profile-card__button.button--blue {
            background: linear-gradient(45deg, #1da1f2, #0e71c8);
            box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
          }
          .profile-card__button.button--blue:hover {
            box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
          }
          .profile-card__button.button--orange {
            background: linear-gradient(45deg, #d5135a, #f05924);
            box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
          }
          .profile-card__button.button--orange:hover {
            box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
          }
          .profile-card__button.button--gray {
            box-shadow: none;
            background: #dcdcdc;
            color: #142029;
          }

@media (max-width: 768px) {
  .landing .content h2 {
    font-size: 50px; } }
