body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #2B2E44 !important;
}

.btn{
  color: white !important;
  font-size: 11px !important;
}


.alert-container{
  width: 100%;
  display: none;
  opacity: 0;
  margin-top:20px;
  transform: translateY(-110px);
  justify-content: center;
  align-items: center;
  bottom: 0 !important;
}
.alert-box{
  width:30% !important;
  text-align: center;
}

.container-main{
  border: solid 10px #D6C7B3;
  margin: 20px;
  background: linear-gradient(0deg, #5B6475 0%, #1A1D27 74%);
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.329),
  0 6.7px 5.3px rgba(0, 0, 0, 0.329),
  0 12.5px 10px rgba(0, 0, 0, 0.329),
  0 22.3px 17.9px rgba(0, 0, 0, 0.329),
  0 41.8px 33.4px rgba(0, 0, 0, 0.329),
  0 100px 80px rgba(0, 0, 0, 0.329);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 2.8px 2.2px rgba(0, 0, 0, 0.329),
  0 6.7px 5.3px rgba(0, 0, 0, 0.329),
  0 12.5px 10px rgba(0, 0, 0, 0.329),
  0 22.3px 17.9px rgba(0, 0, 0, 0.329),
  0 41.8px 33.4px rgba(0, 0, 0, 0.329),
  0 100px 80px rgba(0, 0, 0, 0.329);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.329),
  0 6.7px 5.3px rgba(0, 0, 0, 0.329),
  0 12.5px 10px rgba(0, 0, 0, 0.329),
  0 22.3px 17.9px rgba(0, 0, 0, 0.329),
  0 41.8px 33.4px rgba(0, 0, 0, 0.329),
  0 100px 80px rgba(0, 0, 0, 0.329);
}